<div class="tm-main-section light-gray-bg">
    <form class="modal-content">
        <div class="container">
            <br><br>
            <h4>Are you sure you want to delete <b>{{user.userName}}</b>?</h4>
            <br><br>
            <div class="clearfix">
                <button type="button" class="deletebtn" (click)="Delete()">Delete</button>
                <button type="button" class="cancelbtn" (click)="Cancel()">Cancel</button>
            </div>
        </div>
    </form>
    <br><br>
</div>