<h3>All Products</h3>
<hr>
<a class="btn btn-primary">Add Product</a>
<br/><br/>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Product</td>
            <td>Price</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let item of products">
            <td>{{item.productName}}</td>
            <td>{{item.price}}</td>
            <td>
                {{item.status}} &nbsp;
                <a class="btn btn-success">Details</a>&nbsp;
                <a class="btn btn-warning">Edit</a> &nbsp;
                <a class="btn btn-danger">Delete</a> &nbsp;
            </td>
        </tr>
    </tbody>

</table>
